.video-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  //border: 1px red solid;
  margin-left: 15%;
  margin-right: 15%;
  padding: 30px;
}

.video-main-content {
  height: 350px;
  width: 420px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  //border: 0.5px solid red;

  .video {
    height: 300px;
    width: 420px;
    border: none;
  }

  .video-description {
    font-size: 14px;
    font-weight: bold;
  }
}

.video-main-content:nth-child(2n) {
  margin-right: 0px;
}
